{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}ServicePad {% endblock title %}</title>
		{% block css %}
		<link type="text/css" href="{% get_static_prefix %}css/ui/jquery-ui-1.8.16.custom.css" rel="stylesheet" />
		<link rel="stylesheet" href="{% get_static_prefix %}css/blueprint/screen.css" type="text/css" media="screen, projection">
		<link rel="stylesheet" href="{% get_static_prefix %}css/blueprint/print.css" type="text/css" media="print"> 
		<!--[if lt IE 8]>
			<link rel="stylesheet" href="{% get_static_prefix %}css/blueprint/ie.css" type="text/css" media="screen, projection">
		<![endif]-->
		{% endblock css %}
		{% block javascript %}
		<script type="text/javascript" src="{% get_static_prefix %}js/jquery-1.7.1.js"></script>
		<script type="text/javascript" src="{% get_static_prefix %}js/jquery-ui-1.8.16.custom.min.js"></script>
		{% endblock javascript %}
	</head>
	<body>
		{% block body %}
		<div class="container">
			{% block blueprint_container %}
			<div class="span-24">
  				{% block header %}
  				 Header<br /> Header
  				{% endblock header %}
  			</div>
	  		<div class="span-4">
	  			The first column
	  		</div>
	  		<div class="span-16">
	  			The center column
	  		</div>
		  	<div class="span-4 last">
		  		The last column
		  	</div>
		  	
		  	<div class="span-24">
		  		{% block footer %}
		  		Footer <br />
		  		{% endblock footer %}
		  	</div>
			{% endblock blueprint_container %}
		</div>
		{% endblock body %}
	</body>
</html>